@page "/counter"
@rendermode InteractiveServer
@inject SingletonService singletonService
@inject TransientService transientService
@inject ScopedService scopedService
    
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p>Scoped Count: @scopedService.Value</p>
<p>Transient Count: @transientService.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">+1</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        transientService.Value = currentCount;
        singletonService.Value = currentCount;
        scopedService.Value = currentCount;
    }
}
