@page "/"
@attribute [StreamRendering]
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>


<input type="checkbox" @bind="showMovies" />
Show Movies

@if (showMovies)
{
    <h3 class="fs-1">In Billboard:</h3>
    <MovieList Movies="inBillboard"/>

    <h3 class="fs-1">Futures Premiere:</h3>
    <MovieList Movies="futuresPremiere" />

    <BPButton Type="ButtonType.Sumbit" Variante="Variante.Warning" Size="Size.Md" OnClick="ManageClick">Enviar</BPButton>
}


@code {

    private bool showMovies = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await Task.Delay(2000);

        inBillboard = new List<Movie>()
    {
        new Movie
        {
            Id = 1,
            Title = "Captain America",
            ReleaseDate = new DateTime(2025, 2, 14)
        },

        new Movie
        {
            Id = 2,
            Title = "Mission: Impossible - Dead Reckoning Part Two",
            ReleaseDate = new DateTime(2025, 5, 23)
        }

    };
        futuresPremiere = new List<Movie>()
    {
        new Movie
        {
            Id = 1,
            Title = "Batman 22",
            ReleaseDate = new DateTime(2026, 2, 14)
        },

        new Movie
        {
            Id = 2,
            Title = "Fast and Furios X2",
            ReleaseDate = new DateTime(2027, 5, 23)
        }

    };
        StateHasChanged();
    }

    private void ManageClick()
    {
        Console.WriteLine("Event of dad component");
        showMovies = !showMovies;
    }

    private void ManageClick(string message) => Console.WriteLine(message);

    private List<Movie>? inBillboard = null;

    private List<Movie>? futuresPremiere = null;
}