@page "/"
@attribute [StreamRendering]
@inject IMovieService movieService;


<PageTitle>Home</PageTitle>


<h3 class="fs-1">In Billboard:</h3>
<MovieList Movies="inBillboard" />

<h3 class="fs-1">Futures Premiere:</h3>
<MovieList Movies="futuresPremiere" />


@code {

    protected override void OnInitialized()
    {

        inBillboard = movieService.GetMovies();
        futuresPremiere = movieService.GetMovies();
    }


    private List<Movie>? inBillboard = null;

    private List<Movie>? futuresPremiere = null;
}