@page "/authors/add"
@inject NavigationManager navigationManager

<h3>Agregar Autor</h3>
<FormAuthor Author="@author"
            CurrentPost="@currentPost"
            FormPostWithExit="@postWithExit"
            OnValidSumbit="@Add" />

@code {

    private bool currentPost = false;
    private bool postWithExit = false;
    private Author author = null!;

    protected override void OnInitialized()
    {
        author = new Author();
    }

    private async Task Add()
    {
        if (!currentPost)
        {
            currentPost = true;

            Console.WriteLine($"Agregando autor...");
            await Task.Delay(2000);

            Console.WriteLine($"Agregando autor con nombre {author.Name}");

            currentPost = false;
            postWithExit = true;
            StateHasChanged();

            navigationManager.NavigateTo("/authors");
        }
    }
}
