
<p>
    Title:
    <b>@Movie.Title</b>
    <BPButton OnClick="@(() => RemoveMovie.InvokeAsync(Movie))">Remove</BPButton>
</p>
     
<p>Relase Date: <b>@Movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>

@code {
    [Parameter, EditorRequired] public required Movie Movie { get; set; }
    [Parameter] public EventCallback<Movie> RemoveMovie { get; set; }
}