@if (movies != null)
{
    <div>
        @foreach (var movie in movies)
        {
            <MovieItem @key="movie.Id" Movie="movie" RemoveMovie="RemoveMovie"/>
        }
    </div>
    
}

else
{
    <Loading/>
}


@code {

    [Parameter, EditorRequired] public List<Movie>? Movies { get; set; }
    private List<Movie>? movies = null;

    protected override void OnInitialized()
    {
        movies = Movies;
    }

    protected override void OnParametersSet()
    {
        movies = Movies;
    }

    private void RemoveMovie(Movie movie)
    {
        movies!.Remove(movie);
    }

}
