@if (Movies != null)
{
    <div>
        @foreach (var movie in Movies)
        {
            <MovieItem Movie="movie"/>
        }
    </div>
    
}

else
{
    <Loading/>
}


@code {
    
    [Parameter, EditorRequired] public List<Movie>? Movies { get; set; }




}
