@page "/gender/add"
@rendermode InteractiveServer

<h3>Add Gender</h3>

<EditForm Model="gender" OnValidSubmit="Add">
    
    <DataAnnotationsValidator/>

    <BPInputText Label="Nombre" @bind-Value="gender.Name"/>

    <BPButton Type="ButtonType.Sumbit"/>

</EditForm>

@code {
    private Gender gender = new Gender();

    private void Add()
    {
        Console.WriteLine("Ejecutando metodo Crear");
        Console.WriteLine($"Nombre del genero: {gender.Name}");
    }
}
