@page "/genders/add"

@rendermode InteractiveServer


@inject NavigationManager navigationManager

<h3>Agregar nuevo genero</h3>

<GenderForm CurrentPost="@currentPost"
            FormPostWithExit="@formPostExit"
            Gender="@gender"
            OnValidSumbit="@Add" />


@code {
    private Gender gender = null!;

    private bool currentPost = false;
    private bool formPostExit = false;

    protected override void OnInitialized()
    {
        gender = new Gender();
    }

    private async Task Add()
    {
        if (!currentPost)
        {
            currentPost = true;

            Console.WriteLine("Ejecutando metodo Crear");
            await Task.Delay(2000);
            Console.WriteLine($"Nombre del genero: {gender.Name}");

            currentPost = false;
            formPostExit = true;

            StateHasChanged();

            navigationManager.NavigateTo("/genders");
        }
    }
}
